body {
	padding: 20px 50px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	margin-top: 100px;
}

ul {
	padding: 0;
}

ul li {
	margin: 20px 0px;
	list-style-type: none;
}
