.blue-button {
	border: solid 1px #5CB8E6;
	border-radius: 3px;
	width: 100px;
	height: 30px;
	background-color: #66CCFF;
	color: white;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	flex: 1;
}

.blue-button:hover {
	background-color: #5CB8E6;
}

.red-button {
	border: none;
	border-radius: 3px;
	width: 100px;
	height: 30px;
	background-color: #FF5050;
	color: white;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	flex: 1;
}

.red-button:hover {
	background-color: #CC4040;
}

#new-peep {
	margin-top: 50px;
}

header {
background-color: white;
position: fixed;
width: 100%;
height: 30px;
border-bottom: solid 1px lightgrey;
padding: 10px;
margin-bottom: 10px;
display: flex;

}

header > * {
	margin: auto;
}

#logo {
	display: flex;
	font-weight: lighter;
	width: 700px;
	margin-left: 55px;
}

#peep-box {
	width: 662px;
	height: 46px;
	color: grey;
	border: 1px solid lightblue;
	border-radius: 4px;
	margin-left: 50px;
	padding-left: 20px;
	font-weight: lighter;
}

.button {
	margin-left: 10px;
	border: none;
	border-radius: 4px;
	width: 100px;
	height: 50px;
	background-color: #66CCFF;
	color: white;
	font-weight: lighter;
}

.button:hover{
	background-color: #5CB8E6;
}

body {
	background-color: #E0F5FF;
	color: #141A1A;
	font-weight: lighter;
	font-family: helvetica, sans-serif;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	margin-top: 100px;
}

ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	border-top: solid 1px #E6E6F0;
	padding: 10px 20px;
	min-height: 50px;
}

ul li:hover {
	background-color: #F5FAFF;
}

#wall {
	background-color: white;
	border-radius: 8px;
	max-width: 800px;
	margin-left: 50px;
	border: solid 1px #E6E6F0;
}

.container {
	width: 400px;
	min-height: 230px;
	background-color: white;
	margin-top: 100px;
	margin-left: 65px;
	border: solid 1px #E6E6F0;
	border-radius: 8px; 
	padding: 30px 100px 30px 100px;
}

.textbox {
	margin-top: 10px;
	width: 250px;
	height: 30px;
	border: solid 1px #E6E6F0;
	border-radius: 3px;
	background-color: #FFFFAD;
	font-weight: lighter;
	padding-left: 8px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: grey;
	padding: 10px 20px;
	font-weight: lighter;
	margin: 0;
}

footer {
	text-align: center;
	margin-bottom: 20px;
	color: #478FB2;
	font-size: 14px;
}