<% if !current_user %>
	<a href="/sign-up">Sign up</a>
	<a href="/login">Login</a>
<% end %>
<br><br>

<% if current_user %>
<article id="new-peep">
	<form action="/" method="post">
		<input id="peep-box" type="text" name="post" value="Hi <%= current_user.username.capitalize %>! Compose new Peep..."
			onclick="if(this.value=='Hi <%= current_user.username.capitalize %>! Compose new Peep...'){this.value=''}"
			onblur="if(this.value==''){this.value='Hi <%= current_user.username.capitalize %>! Compose new Peep...'}">
		<input class="button" type="submit" value="Peep">
	</form>
</article>
<% end %>

<ul id="wall">
	<h2>Peeps</h2>
	<% @peeps.reverse_each do |peep| %>
		<li><%= peep.post %></li>
	<% end %>
</ul>