<a href="/sign-up">Sign up</a>
<a href="/login">Login</a>
<br><br>

<article id="new-peep">
	<form action="/" method="post">
		<input type="text" name="post" style="width:500px;height:25px;color:grey" value="Compose new Peep..."
			onclick="if(this.value=='Compose new Peep...'){this.value=''}"
			onblur="if(this.value==''){this.value='Compose new Peep...'}">
		<input type="submit" value="Peep!">
	</form>
</article>

<ul>
	<% @peeps.reverse_each do |peep| %>
		<li><%= peep.post %></li>
	<% end %>
</ul>