<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css">  -->
</head>
<body>
	<h1>Chitter</h1>
  <%= yield %>
  <footer style="font-size:small;color:grey">&copy Nic Yeeles 2014</footer>
</body>
</html>