<!DOCTYPE html>
<html>
<head>
	<title>Schitter</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css"> 
	<link rel="stylesheet" type="text/css" href="css/application.css"> 
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<header>
		<div id="logo">
			<a href="/">
				<img src="images/schitter_logo.jpg" style="height:26px;">
			</a>
		</div>
		<% if current_user %>
			<form method="post" action="/">
				<input type="hidden" name="_method" value="delete">
				<input class="red-button" type="submit" value="Logout">
			</form>
		<% else %>
			<a href="/sign-up" id="sign-up">Sign up</a>
			<a href="/login">Login</a>
		<% end %>
	</header>
	<br><br>
  <%= yield %>
  <footer><a href="http://www.nicyeeles.com" target="blank" >&copy Nic Yeeles 2014</a></footer>
</body>
</html>