Have an account? Login
<br><br>
<form id="sign-up" action="/">
	<input type="text" name="email" value="Email" style="color:grey"
		onclick="if(this.value=='Email'){this.value=''}"
		onblur="if(this.value==''){this.value='Email'}"><br>
	<input type="text" name="password" value="Password" style="color:grey"
		onclick="if(this.value=='Password'){this.value=''}"
		onblur="if(this.value==''){this.value='Password'}"><br>
	<input type="submit" value="Login">
</form>