New to Chitter? Sign up
<br><br>
<form id="sign-up" action="/sign-up" method="post">
	<input type="text" name="username" value="Username" style="color:grey"
		onclick="if(this.value=='Username'){this.value=''}"
		onblur="if(this.value==''){this.value='Username'}"><br>
	<input type="text" name="email" value="Email" style="color:grey"
		onclick="if(this.value=='Email'){this.value=''}"
		onblur="if(this.value==''){this.value='Email'}"><br>
	<input type="text" name="password" value="Password" style="color:grey"
		onclick="if(this.value=='Password'){this.value=''}"
		onblur="if(this.value==''){this.value='Password'}"><br>
	<input type="submit" value="Sign up">
</form>